a:link, a:visited, a:active {
	color: rgba(0,0,0,1.00);
}

a:hover {
	color: rgba(154,206,239,1.00);
}

div#backdiv {
	position: absolute;
	font-family: sans-serif;
	background-color: transparent;
	border: 2px solid rgb(204, 230, 255);
	width: 130px;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	font: 15px sans-serif;
	border-radius: 4px;
	-webkit-transition-duration: 0.2s;
}

div#backdiv:hover {
	background-color: rgb(204, 230, 255);
	color: rgba(255,255,255,1.00);
}